.card {
    display: flex;
    flex-wrap: wrap;
}

.card__box {
    /* width: 240px; */
    width: calc(33.333% - 16px);
    margin: 8px;
    height: 280px;
    border-radius: 4px;
    box-shadow: 5px 10px 4px -2px #888888;
}

.creator_remodeled_list {
    text-align: left;
}

.creator {
    display: flex;
    flex-wrap: wrap;
}


.card__img {
    display: block;
    background-color: gray;
    height: 160px;
}

.card__text {
    padding: 8px;
}

.creator_remodeled_list {
    width: calc(33.333% - 16px);
    margin: 8px;
    height: 280px;
    border-radius: 4px;
    box-shadow: 5px 10px 4px -2px #888888;
}

@charset "UTF-8";



html {
    overflow-y: scroll;
}

body {
    background: #fff;
    text-align: center;
    font-size: 12px;
    line-height: 1;
    min-width: 100%;
    -webkit-text-size-adjust: 100%;
}

li {
    list-style: none;
}

a {
    outline: none;
    color: inherit;
    text-decoration: none;
}

img {
    width: 240;
    border: 0px;
    vertical-align: bottom;
}


ß body {
    font-family: "Noto Sans Japanese", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", "Meiryo", "HGPｺﾞｼｯｸM", "Osaka", "ＭＳ Ｐゴシック", sans-serif, Century Gothic, Arial;
}

header {
    height: 30px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #eeeaec;
    text-align: center;
    position: fixed;
    box-sizing: border-box;
    position: fixed;
    top: 0;
}

header ul {
    width: 400px;
    margin: auto auto;
    display: flex;
}

header li {
    color: black;
    width: 25%;
    line-height: 30px;
    transition: 0.2s;
}

header li:hover {
    color: #111;
}

.box-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.box-item {
    width: 32%;
    margin: 0 3px;
}

.box-row img {
    max-width: 100%;
}

div h1 {
    text-align: left;
    font-size: 12px;
    line-height: 35px;
    margin: 40px 0 0 0;
    font-weight: bold;
}

div.more {
    text-align: right;
    font-size: 12px;
    line-height: 35px;
    padding: 0 30px 0 0;
    font-weight: bold;
}

div h2 {
    text-align: left;
    font-size: 12px;
    line-height: 35px;
    margin: 10px 0 0 0;
    font-weight: bold;
}

div.more2 {
    text-align: right;
    font-size: 12px;
    line-height: 35px;
    padding: 0 30px 10px 0;
    font-weight: bold;
}

footer {
    width: 100%;
    margin: 0;
}


footer .content {
    margin: auto;
    max-width: 800px;
    padding: 10px;
    background-color: #eeeaec;
    text-align: center;
}

/* footer .content .inner {
    padding-top: 6px;
    display: flex;
    justify-content: space-evenly;
    bottom: 0;
} */

.link_button {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    border-bottom: solid 3px #668ad8;
    border-left: solid 3px #668ad8;
    color: #668ad8;
    transition: .4s;
    margin: 0px 20px;
}

/*以下カーソルを当てたとき*/
.link_button:hover {
    padding-left: 0.7em;
    padding-right: 0.3em;
}

/*以下訪問済みのデザイン*/
.link_button:visited {
    color: gray;
    /*文字をグレイに*/
}

html,
body {
    height: 100%;
}