{% extends 'base.html' %}
{% block content %}

<div class="creator_titile">
    <p>{{user_name}}さんの近くのクリエイター職人</p>
</div>

<div>
    <div class="creator__list">
        <div class="creator__box">
            <a href=""><img src="{{url_for('static', filename='images/creator_img/creator_33.jpeg')}}" alt="" width="100%" height="50%"/></a>
            <div class="card__text">
                <p>木製滑り台</p>
            </div>
        </div>
        <div class="creator__box">
            <a href=""><img src="{{url_for('static', filename='images/creator_img/creator_32.jpg')}}" alt="" width="100%" height="50%"/></a>
            <div class="card__text">
                <p>暖かい木の家</p>
            </div>
        </div>
        <div class="creator__box">
            <a href=""><img src="{{url_for('static', filename='images/creator_img/creator_31.jpg')}}" alt="" width="100%" height="50%"/></a>
            <div class="card__text">
                <p>ウッドデッキを作りたい方</p>
            </div>
        </div>
        <div class="creator__box">
            <a href=""><img src="{{url_for('static', filename='images/creator_img/creator_30.jpg')}}" alt="" width="100%" height="50%"/></a>
            <div class="card__text">
                <p>古民家再生できます！</p>
            </div>
        </div>
        <div class="creator__box">
            <a href=""><img src="{{url_for('static', filename='images/creator_img/creator_29.jpg')}}" alt="" width="100%" height="50%"/></a>
            <div class="card__text">
                <p>トイレリフォーム</p>
            </div>
        </div>
        <div class="creator__box">
            <a href=""><img src="{{url_for('static', filename='images/creator_img/creator_28.jpg')}}" alt="" width="100%" height="50%"/></a>
            <div class="card__text">
                <p>障子の張り替えはお申し付けください</p>
            </div>
        </div>
    </div>
    

</div>

<div class="creator_titile">
    <p>インテリア</p>
</div>

<div>
    <div class="creator__interior__list">
        <div class="creator__interior__box">
            <a href=""><img src="{{url_for('static', filename='images/creator_img/creator_20.jpg')}}" alt="" width="100%" height="50%"/></a>
            <div class="card__text">
                <p>オーダーメイドで作ります</p>
            </div>
        </div>
        <div class="creator__interior__box">
            <a href=""><img src="{{url_for('static', filename='images/creator_img/creator_16.jpg')}}" alt="" width="100%" height="50%"/></a>
            <div class="card__text">
                <p>椅子とテーブル</p>
            </div>
        </div>
        <div class="creator__interior__box">
            <a href=""><img src="{{url_for('static', filename='images/creator_img/creator_18.jpg')}}" alt="" width="100%" height="50%"/></a>
            <div class="card__text">
                <p>店舗ソファー張り替えます！</p>
            </div>
        </div>
        <div class="creator__interior__box">
            <a href=""><img src="{{url_for('static', filename='images/creator_img/creator_19.jpg')}}" alt="" width="100%" height="50%"/></a>
            <div class="card__text">
                <p>自分だけのソファー</p>
            </div>
        </div>
        <div class="creator__interior__box">
            <a href=""><img src="{{url_for('static', filename='images/creator_img/creator_17.jpg')}}" alt="" width="100%" height="50%"/></a>
            <div class="card__text">
                <p>オーダーメイドこたつ</p>
            </div>
        </div>
        <div class="creator__interior__box">
            <a href=""><img src="{{url_for('static', filename='images/creator_img/creator_15.jpg')}}" alt="" width="100%" height="50%"/></a>
            <div class="card__text">
                <p>マンションリノベーション</p>
            </div>
        </div>
    </div>
    

</div>

<div class="creator_titile">
    <p>エクステリア</p>
</div>

<div>
    <div class="creator__exterior__list">
        <div class="creator__exterior__box">
            <a href=""><img src="{{url_for('static', filename='images/creator_img/creator_25.jpg')}}" alt="" width="100%" height="50%"/></a>
            <div class="card__text">
                <p>ウッドデッキ</p>
            </div>
        </div>
        <div class="creator__exterior__box">
            <a href=""><img src="{{url_for('static', filename='images/creator_img/creator_24.jpg')}}" alt="" width="100%" height="50%"/></a>
            <div class="card__text">
                <p>窓を変えてみませんか</p>
            </div>
        </div>
        <div class="creator__exterior__box">
            <a href=""><img src="{{url_for('static', filename='images/creator_img/creator_23.jpg')}}" alt="" width="100%" height="50%"/></a>
            <div class="card__text">
                <p>ウィンドウボックスの取り付けは専門家へ相談が安心</p>
            </div>
        </div>
        <div class="creator__exterior__box">
            <a href=""><img src="{{url_for('static', filename='images/creator_img/creator_22.jpg')}}" alt="" width="100%" height="50%"/></a>
            <div class="card__text">
                <p>修繕して長く住む</p>
            </div>
        </div>
        <div class="creator__exterior__box">
            <a href=""><img src="{{url_for('static', filename='images/creator_img/creator_21.jpg')}}" alt="" width="100%" height="50%"/></a>
            <div class="card__text">
                <p>外壁工事はお任せください！</p>
            </div>
        </div>
        <div class="creator__exterior__box">
            <a href=""><img src="{{url_for('static', filename='images/creator_img/creator_27.jpg')}}" alt="" width="100%" height="50%"/></a>
            <div class="card__text">
                <p>タイル床</p>
            </div>
        </div>
    </div>
    

</div>
    
{% endblock %}