{% extends 'base.html' %}
{% block content %}
<div class="diy_list">

    <div class="diy_list_title">
        <p>{{user_name}}さんの近くのDIY一覧</p>
    </div>

    <div class="card">

        <div class="card__box">
            <a href=""><img src="{{url_for('static', filename='images/diy_img/diy_17.jpg')}}" alt="" width="100%"
                    height="50%" /></a>
            <div class="card__text">
                <p>岡山県岡山市　壁を貼り替え中　くわしい方お願いします</p>
            </div>
        </div>
        <div class="card__box">
            <a href=""><img src="{{url_for('static', filename='images/diy_img/diy_2.jpg')}}" alt="" width="100%"
                    height="50%" /></a>
            <div class="card__text">
                <p>香川県高松市　ウッドデッキをDIY</p>
            </div>
        </div>
        <div class="card__box">
            <a href=""><img src="{{url_for('static', filename='images/diy_img/diy_3.jpg')}}" alt="" width="100%"
                    height="50%" /></a>
            <div class="card__text">
                <p>香川県坂出市　子供用ベッドを作りたい！</p>
            </div>
        </div>
        <div class="card__box">
            <a href=""><img src="{{url_for('static', filename='images/diy_img/diy_4.jpg')}}" alt="" width="100%"
                    height="50%" /></a>
            <div class="card__text">
                <p>香川県高松市　空き家をまるまるリフォームしたい！助っ人募集！</p>
            </div>
        </div>
        <div class="card__box">
            <a href=""><img src="{{url_for('static', filename='images/diy_img/diy_6.jpg')}}" alt="" width="100%"
                    height="50%" /></a>
            <div class="card__text">
                <p>香川県高松市　子供と一緒にシェルフ作ってます</p>
            </div>
        </div>
        <div class="card__box">
            <a href=""><img src="{{url_for('static', filename='images/diy_img/diy_7.jpg')}}" alt="" width="100%"
                    height="50%" /></a>
            <div class="card__text">
                <p>香川県東かがわ市　洗面台の壁ペンキ塗り中</p>
            </div>
        </div>
    </div>


</div>

<div class="remodeled_list">

    <div class="remodeled_title">
        <p>リフォーム</p>
    </div>

    <div class="card">

        <div class="card__box">
            <a href=""><img src="{{url_for('static', filename='images/diy_img/diy_8.jpg')}}" alt="" width="100%"
                    height="50%" /></a>
            <div class="card__text">
                <p>香川県さぬき市　ペンキ塗り中　ガレージを新しく生まれ変わらせたい</p>
            </div>
        </div>
        <div class="card__box">
            <a href=""><img src="{{url_for('static', filename='images/diy_img/diy_9.jpg')}}" alt="" width="100%"
                    height="50%" /></a>
            <div class="card__text">
                <p>香川県坂出市　空き部屋をまるまるリフォームしたい</p>
            </div>
        </div>
        <div class="card__box">
            <a href=""><img src="{{url_for('static', filename='images/diy_img/diy_4.jpg')}}" alt="" width="100%"
                    height="50%" /></a>
            <div class="card__text">
                <p>岡山県倉敷市　地下の駐車場をリフォーム</p>
            </div>
        </div>
        <div class="card__box">
            <a href=""><img src="{{url_for('static', filename='images/diy_img/diy_10.jpg')}}" alt="" width="100%"
                    height="50%" /></a>
            <div class="card__text">
                <p>広島県尾道市　タイル貼り替えしています　助っ人募集</p>
            </div>
        </div>
        <div class="card__box">
            <a href=""><img src="{{url_for('static', filename='images/diy_img/diy_12.jpg')}}" alt="" width="100%"
                    height="50%" /></a>
            <div class="card__text">
                <p>兵庫県神戸市　キッチンをリフォーム　水道管工事詳しい人求む！</p>
            </div>
        </div>
        <div class="card__box">
            <a href=""><img src="{{url_for('static', filename='images/diy_img/diy_21.jpg')}}" alt="" width="100%"
                    height="50%" /></a>
            <div class="card__text">
                <p>兵庫県三田市　リビングの壁を塗っています　助っ人募集</p>
            </div>
        </div>
    </div>


</div>

<div class="interior_list">

    <div class="interior_title">
        <p>インテリア</p>
    </div>

    <div class="card">

        <div class="card__box">
            <a href=""><img src="{{url_for('static', filename='images/diy_img/diy_5.jpg')}}" alt="" width="100%"
                    height="50%" /></a>
            <div class="card__text">
                <p>香川県高松市　照明器具もDIY 詳しい人求む！</p>
            </div>
        </div>
        <div class="card__box">
            <a href=""><img src="{{url_for('static', filename='images/diy_img/diy_14.jpg')}}" alt="" width="100%"
                    height="50%" /></a>
            <div class="card__text">
                <p>徳島県阿波市　廃材使って家具作り</p>
            </div>
        </div>
        <div class="card__box">
            <a href=""><img src="{{url_for('static', filename='images/diy_img/diy_20.jpg')}}" alt="" width="100%"
                    height="50%" /></a>
            <div class="card__text">
                <p>香川県高松市　カフェのテーブルと椅子を手作りしたい</p>
            </div>
        </div>
        <div class="card__box">
            <a href=""><img src="{{url_for('static', filename='images/sum_img/sum_11.jpg')}}" alt="" width="100%"
                    height="50%" /></a>
            <div class="card__text">
                <p>愛媛県松山市　ガーデン雑貨をたくさんDIYしたい</p>
            </div>
        </div>
        <div class="card__box">
            <a href=""><img src="{{url_for('static', filename='images/sum_img/sum_4.jpg')}}" alt="" width="100%"
                    height="50%" /></a>
            <div class="card__text">
                <p>愛媛県今治市　DIYでディスプレイ小物を作りたい</p>
            </div>
        </div>
        <div class="card__box">
            <a href=""><img src="{{url_for('static', filename='images/sum_img/sum_6.jpg')}}" alt="" width="100%"
                    height="50%" /></a>
            <div class="card__text">
                <p>岡山県倉敷市　観葉植物用の棚をDIY</p>
            </div>
        </div>
    </div>


</div>

<div class="exterior_list">

    <div class="exterior_title">
        <p>エクステリア</p>
    </div>

    <div class="card">

        <div class="card__box">
            <a href=""><img src="{{url_for('static', filename='images/creator_img/creator_7.jpg')}}" alt="" width="100%"
                    height="50%" /></a>
            <div class="card__text">
                <p>兵庫県神戸市　屋根の瓦を変えています　詳しい人教えてください</p>
            </div>
        </div>
        <div class="card__box">
            <a href=""><img src="{{url_for('static', filename='images/creator_img/creator_9.jpg')}}" alt="" width="100%"
                    height="50%" /></a>
            <div class="card__text">
                <p>山口県徳山市　玄関を自分好みにリフォームしたい　助っ人募集！</p>
            </div>
        </div>
        <div class="card__box">
            <a href=""><img src="{{url_for('static', filename='images/creator_img/creator_10.jpg')}}" alt=""
                    width="100%" height="50%" /></a>
            <div class="card__text">
                <p>香川県高松市　レンガで壁を作っています　外構工事くわしい方教えてください！</p>
            </div>
        </div>
        <div class="card__box">
            <a href=""><img src="{{url_for('static', filename='images/creator_img/creator14.jpg')}}" alt="" width="100%"
                    height="50%" /></a>
            <div class="card__text">
                <p>香川県さぬき市　窓まわりリフォームしています　くわしい方教えてください</p>
            </div>
        </div>
        <div class="card__box">
            <a href=""><img src="{{url_for('static', filename='images/diy_img/diy_2.jpg')}}" alt="" width="100%"
                    height="50%" /></a>
            <div class="card__text">
                <p>広島県尾道市　お庭をすっきりリフォームさせたい　くわしい方お願いします</p>
            </div>
        </div>
        <div class="card__box">
            <a href=""><img src="{{url_for('static', filename='images/sum_img/sum_10.jpg')}}" alt="" width="100%"
                    height="50%" /></a>
            <div class="card__text">
                <p>広島県広島市　ウッドデッキをフルチェンジさせたい！</p>
            </div>
        </div>
    </div>


</div>

{% endblock %}