{% extends 'base.html' %}
{% block content %}

<div>
    <div class="card">
        <div class="card__box">
            <a href=""><img src="{{url_for('static', filename='images/creator_img/creator_1.jpg')}}" alt="" width="100%"
                    height="50%" /></a>
            <div class="card__text">
                <p>子供用の椅子作ります！</p>
            </div>
        </div>
        <div class="card__box">
            <a href=""><img src="{{url_for('static', filename='images/creator_img/creator_4.jpg')}}" alt="" width="100%"
                    height="50%" /></a>
            <div class="card__text">
                <p>トイレリフォーム</p>
            </div>
        </div>
        <div class="card__box">
            <a href=""><img src="{{url_for('static', filename='images/diy_img/diy_5.jpg')}}" alt="" width="100%"
                    height="50%" /></a>
            <div class="card__text">
                <p>照明器具作ります！</p>
            </div>
        </div>
        <div class="card__box">
            <a href=""><img src="{{url_for('static', filename='images/diy_img/diy_21.jpg')}}" alt="" width="100%"
                    height="50%" /></a>
            <div class="card__text">
                <p>壁をペイントします！</p>
            </div>
        </div>
        <div class="card__box">
            <a href=""><img src="{{url_for('static', filename='images/sum_img/sum_11.jpg')}}" alt="" width="100%"
                    height="50%" /></a>
            <div class="card__text">
                <p>ガーデン用品おまかせください</p>
            </div>
        </div>
        <div class="card__box">
            <a href=""><img src="{{url_for('static', filename='images/sum_img/sum_7.jpg')}}" alt="" width="100%"
                    height="50%" /></a>
            <div class="card__text">
                <p>インテリア小物DIYします！</p>
            </div>
        </div>
    </div>


</div>

{% endblock %}