{% extends 'base.html' %}
{% block content %}
    
    <div>
        <div class="card">
            <div class="card__box">
                <a href=""><img src="{{url_for('static', filename='images/creator_img/creator_1.jpg')}}" alt="" width="100%" height="50%"/></a>
                <div class="card__text">
                    <p>本文が入ります！</p>
                </div>
            </div>
            <div class="card__box">
                <a href=""><img src="{{url_for('static', filename='images/creator_img/creator_4.jpg')}}" alt="" width="100%" height="50%"/></a>
                <div class="card__text">
                    <p>本文が入ります！</p>
                </div>
            </div>
            <div class="card__box">
                <a href=""><img src="{{url_for('static', filename='images/diy_img/diy_5.jpg')}}" alt="" width="100%" height="50%"/></a>
                <div class="card__text">
                    <p>本文が入ります！</p>
                </div>
            </div>
            <div class="card__box">
                <a href=""><img src="{{url_for('static', filename='images/diy_img/diy_21.jpg')}}" alt="" width="100%" height="50%"/></a>
                <div class="card__text">
                    <p>本文が入ります！</p>
                </div>
            </div>
            <div class="card__box">
                <a href=""><img src="{{url_for('static', filename='images/sum_img/sum_11.jpg')}}" alt="" width="100%" height="50%"/></a>
                <div class="card__text">
                    <p>本文が入ります！</p>
                </div>
            </div>
            <div class="card__box">
                <a href=""><img src="{{url_for('static', filename='images/sum_img/sum_7.jpg')}}" alt="" width="100%" height="50%"/></a>
                <div class="card__text">
                    <p>本文が入ります！</p>
                </div>
            </div>
        </div>
        

    </div>
    
{% endblock %}