{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./favorite.html">
    <title>Document</title>
</head>

<body>

    <header>
        <ul>
            <li>
                <a href="javascript:history.back()">[戻る]</a>

            </li>
        </ul>

    </header>

    <div>
        <div class="card">
            <div class="card__box">
                <img src="" alt"" class="card__img">
                <div class="card__text">
                    <p>本文が入ります！</p>
                </div>
            </div>
            <div class="card__box">
                <img src="" alt"" class="card__img">
                <div class="card__text">
                    <p>本文が入ります！</p>
                </div>
            </div>
            <div class="card__box">
                <img src="" alt"" class="card__img">
                <div class="card__text">
                    <p>本文が入ります！</p>
                </div>
            </div>
            <div class="card__box">
                <img src="" alt"" class="card__img">
                <div class="card__text">
                    <p>本文が入ります！</p>
                </div>
            </div>
            <div class="card__box">
                <img src="" alt"" class="card__img">
                <div class="card__text">
                    <p>本文が入ります！</p>
                </div>
            </div>
        </div>
        

    </div>
    
</body>
</html>

{% endblock %}