{% extends 'base.html' %}

{% block content %}


<div id="wrapper">
    <div class="menu-btn">
        <i class="fa fa-bars fa-lg" aria-hidden="true"></i>

    </div>
    <div class="menu">
        <div class="menu__itemtitle">設定</div>
        <div class="menu__itembox"><input type="text" name="name" size="30" value="" placeholder="検索"></div>
        <div class="menu__item">プロフィール情報</div>
        <div class="menu__item">アカウント情報</div>
        <div class="menu__item">通知設定</div>
        <div class="menu__item">プライバシー設定</div>
        <div class="menu__item">アクティビティ設定</div>
        <div class="menu__item">ブロックしたユーザー一覧</div>
        <div class="menu__item">セキュリティ</div>
    </div>

    <section>
        <div id="section1-inner">
            <img src="{{url_for('static', filename='images/diy_img/diy_11.jpg')}}" alt="ユーザ名">
            <p class="user">ユーザー名</p>
            <p class="creater">家具職人</p>
            <p class="address">香川県高松市</p>
            <div class="profile"><a href="setting.html">プロフィールを編集する</a></div>
        </div>
    </section>
    <section>
        <table class="table1">
            <thead>
                <tr>
                    <th>投稿数</th>
                    <th>フォロワー</th>
                    <th class="cell1">フォロー中</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>45</td>
                    <td>125</td>
                    <td class="cell1">218</td>
                </tr>
            </tbody>
        </table>
    </section>
    <div class="box1">
        <p>○◯町の◯◯を曲がってすぐ</p>
        <p>◯◯や◯◯などを作っています。</p>
        <p class="ordermade">オーダーメイド　¥◯◯◯◯〜</p>
        <p>表札　¥◯◯◯◯〜（中３日納品）</p>
        <p>000-000-000 am7:00〜pm17:00 </p>
    </div>

    <table class="table2">
        <tr>
            <td class="td1">評価</td>
            <td class="td2"><a href="creater.html">＞</a>
            </td>
        </tr>
        <tr>
            <td class="td1">過去の施工・注文履歴</td>
            <td class="td2"><a href="creater.html">＞</a></td>
        </tr>
        <tr>
            <td class="td1">最近見たアイデア一覧</td>
            <td class="td2"><a href="creater.html">＞</a></td>
        </tr>
        <tr>
            <td class="td1">よくある質問・お問い合わせ</td>
            <td class="td2"><a href="creater.html">＞</a></td>
        </tr>
        <tr>
            <td class="td1">DITについて・利用規約</td>
            <td class="td2"><a href="creater.html">＞</a></td>
        </tr>
        <tr>
            <td class="td1">ヘルプ</td>
            <td class="td2"><a href="creater.html">＞</a></td>
        </tr>
    </table>

</div>
<!-- <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/common.js"></script> -->

{% endblock %}