{% extends 'base.html' %}

{% block content %}


<div id="wrapper">

    <div>
        <h1>旬のDIY投稿</h1>
    </div>
    <section id="sec2">
        <div class="box-row">
            <div class="box-item">
                <a href="diy.html"><img src="{{url_for('static', filename='images/diy_img/diy_2.jpg')}}" alt="次へ"></a>
                <p class="setumei"><a href="diy.html">香川県高松市　お手入れしやすいお庭へトータルリフォーム!</a></p>
            </div>
            <div class="box-item">
                <a href="diy.html"><img src="{{url_for('static', filename='images/diy_img/diy_6.jpg')}}" alt="次へ"></a>
                <p class="setumei"><a href="diy.html">岡山県倉敷市　子供の勉強机を作りたい！教えてください！</a></p>
            </div>
            <div class="box-item">
                <a href="diy.html"><img src="{{url_for('static', filename='images/diy_img/diy_4.jpg')}}" alt="次へ"></a>
                <p class="setumei"><a href="diy.html">広島県福山市　使ってない倉庫完全リフォームします</a></p>
            </div>
            <div class="box-item">
                <a href="diy.html"><img src="{{url_for('static', filename='images/diy_img/diy_8.jpg')}}" alt="次へ"></a>
                <p class="setumei"><a href="diy.html">香川県丸亀市　庭の倉庫のペンキ塗り。教えてください！！</a></p>
            </div>
            <div class="box-item">
                <a href="diy.html"><img src="{{url_for('static', filename='images/diy_img/diy_9.jpg')}}" alt="次へ"></a>
                <p class="setumei"><a href="diy.html">徳島県徳島市　ヨガルームに変身させたい！助っ人募集！</a></p>
            </div>
            <div class="box-item">
                <a href="diy.html"><img src="{{url_for('static', filename='images/diy_img/diy_10.jpg')}}" alt="次へ"></a>
                <p class="setumei"><a href="diy.html">香川県高松市　タイルの貼り方教えてください！助っ人募集！！</a></p>
            </div>
        </div>
    </section>
    <div class="more"><a href="diy.html">近くのDIYを探す　＞</a></div>
    <div>
        <h2>クリエイター職人の施工例</h2>
    </div>
    <section id="sec3">
        <div class="box-row">
            <div class="box-item">
                <a href="creater.html"><img src="{{url_for('static', filename='images/creator_img/creator_20.jpg')}}"
                        alt="次へ"></a>
                <p class="setumei"><a href="creater.html">こんなシェルフ作れます</a></p>
            </div>
            <div class="box-item">
                <a href="creater.html"><img src="{{url_for('static', filename='images/creator_img/creator_6.jpg')}}"
                        alt="次へ"></a>
                <p class="setumei"><a href="creater.html">タイルの貼り替えおまかせください！</a></p>
            </div>
            <div class="box-item">
                <a href="creater.html"><img src="{{url_for('static', filename='images/creator_img/creator_9.jpg')}}"
                        alt="次へ"></a>
                <p class="setumei"><a href="creater.html">玄関のドアDIY!自分好みにリメイクできます</a></p>
            </div>
            <div class="box-item">
                <a href="creater.html"><img src="{{url_for('static', filename='images/creator_img/creator_23.jpg')}}"
                        alt="次へ"></a>
                <p class="setumei"><a href="creater.html">窓辺を花で鮮やかに飾る“ウィンドウボックス”</a></p>
            </div>
            <div class="box-item">
                <a href="creater.html"><img src="{{url_for('static', filename='images/creator_img/creator_15.jpg')}}"
                        alt="次へ"></a>
                <p class="setumei"><a href="creater.html">ご自宅のインテリアDIYしませんか？</a></p>
            </div>
            <div class="box-item">
                <a href="creater.html"><img src="{{url_for('static', filename='images/creator_img/creator_19.jpg')}}"
                        alt="次へ"></a>
                <p class="setumei"><a href="creater.html">DIYで照明配線 お手伝いします！</a></p>
            </div>
        </div>
    </section>

    <div class="more2"><a href="creater.html">近くのクリエイター職人を探す　＞</a></div>

</div>


{% endblock %}