{% extends 'base.html' %}

{% block content %}
<div class="menu-btn">
    <i class="fa fa-bars fa-lg" aria-hidden="true"></i>

</div>
<div class="menu">
    <div class="login">
        <div id="form">
            <p class="form-title">DIY</p>
            <form action="/my_user" class="formcomment1">
                <p>メール</p>
                <p class="mail"><input type="email" name="mail" /></p>
                <p>パスワード</p>
                <p class="pass"><input type="password" name="pass" /></p>
                <p class="check"><input type="checkbox" class="checkbox" name="checkbox" />　ログイン情報を保持する</p>
                <p class="submit"><input type="submit" value="ログイン" /></p>
                <p class="comment1"><a href="XXX.html">パスワードをお忘れですか？</a></p>
                <p class="comment2"><a href="XXX.html">IDをお持ちでないですか？</a></p>
                <p class="comment3">または以下のIDでもログインできます</p>
    
                <div class="allBtn">
                    <a href="#" class="btn-social-circle btn-social-circle--twitter">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#" class="btn-social-circle btn-social-circle--facebook">
                        <i class="fab fa-facebook"></i>
                    </a>
    
    
                </div>
            </form>
        </div>
    
    </div>
</div>

<div id="wrapper">

    <div>
        <h1>旬のDIT投稿</h1>
    </div>
    <section id="sec2">
        <div class="box-row">
            <div class="box-item">
                <a href="diy.html"><img src="{{url_for('static', filename='images/diy_img/diy_2.jpg')}}" alt="次へ"></a>
                <p class="setumei"><a href="diy.html">香川県高松市　お手入れしやすいお庭へトータルリフォーム!</a></p>
            </div>
            <div class="box-item">
                <a href="diy.html"><img src="{{url_for('static', filename='images/diy_img/diy_6.jpg')}}" alt="次へ"></a>
                <p class="setumei"><a href="diy.html">岡山県倉敷市　子供の勉強机を作りたい！教えてください！</a></p>
            </div>
            <div class="box-item">
                <a href="diy.html"><img src="{{url_for('static', filename='images/diy_img/diy_4.jpg')}}" alt="次へ"></a>
                <p class="setumei"><a href="diy.html">広島県福山市　使ってない倉庫完全リフォームします</a></p>
            </div>
            <div class="box-item">
                <a href="diy.html"><img src="{{url_for('static', filename='images/diy_img/diy_8.jpg')}}" alt="次へ"></a>
                <p class="setumei"><a href="diy.html">香川県丸亀市　庭の倉庫のペンキ塗り。教えてください！！</a></p>
            </div>
            <div class="box-item">
                <a href="diy.html"><img src="{{url_for('static', filename='images/diy_img/diy_9.jpg')}}" alt="次へ"></a>
                <p class="setumei"><a href="diy.html">徳島県徳島市　ヨガルームに変身させたい！助っ人募集！</a></p>
            </div>
            <div class="box-item">
                <a href="diy.html"><img src="{{url_for('static', filename='images/diy_img/diy_10.jpg')}}" alt="次へ"></a>
                <p class="setumei"><a href="diy.html">香川県高松市　タイルの貼り方教えてください！助っ人募集！！</a></p>
            </div>
        </div>
    </section>
    <div class="more"><a href="/diy">近くのDITを探す　＞</a></div>
    <div>
        <h2>クリエイター職人の施工例</h2>
    </div>
    <section id="sec3">
        <div class="box-row">
            <div class="box-item">
                <a href="creater.html"><img src="{{url_for('static', filename='images/creator_img/creator_20.jpg')}}"
                        alt="次へ"></a>
                <p class="setumei"><a href="creater.html">こんなシェルフ作れます</a></p>
            </div>
            <div class="box-item">
                <a href="creater.html"><img src="{{url_for('static', filename='images/creator_img/creator_6.jpg')}}"
                        alt="次へ"></a>
                <p class="setumei"><a href="creater.html">タイルの貼り替えおまかせください！</a></p>
            </div>
            <div class="box-item">
                <a href="creater.html"><img src="{{url_for('static', filename='images/creator_img/creator_9.jpg')}}"
                        alt="次へ"></a>
                <p class="setumei"><a href="creater.html">玄関のドアをDIT!自分好みにリメイクできます</a></p>
            </div>
            <div class="box-item">
                <a href="creater.html"><img src="{{url_for('static', filename='images/creator_img/creator_23.jpg')}}"
                        alt="次へ"></a>
                <p class="setumei"><a href="creater.html">窓辺を花で鮮やかに飾る“ウィンドウボックス”</a></p>
            </div>
            <div class="box-item">
                <a href="creater.html"><img src="{{url_for('static', filename='images/creator_img/creator_15.jpg')}}"
                        alt="次へ"></a>
                <p class="setumei"><a href="creater.html">ご自宅のインテリアDITしませんか？</a></p>
            </div>
            <div class="box-item">
                <a href="creater.html"><img src="{{url_for('static', filename='images/creator_img/creator_19.jpg')}}"
                        alt="次へ"></a>
                <p class="setumei"><a href="creater.html">DITで照明配線 お手伝いします！</a></p>
            </div>
        </div>
    </section>

    <div class="more2"><a href="/creator">近くのクリエイター職人を探す　＞</a></div>

</div>


{% endblock %}